<div id="cookbooks">
</div>

<!-- _.js template -->
<script type="text/template" id="cookbook-list-template">
  <div class="results-title">
    <h3 id="cookbook-count">
      <%%= total_cookbooks %> <%%= total_cookbooks === 1 ? 'Cookbook' : 'Cookbooks' %>
    </h3>
  </div>

  <div id="cookbook-listing">
    <%% _.each(cookbooks, function (cookbook) { %>
      <div class="cookbook-item">
        <div class="cookbook-item__titlebar">
          <h1 class="item-title"><a href="<%%= cookbook.url %>"><%%= cookbook.name %></a></h1>
          <h2 class="item-title item-title--small item-title--light"><%%= cookbook.version %></h2>
          <h2 class="item-title item-title--small">Added to MiniMart on <%%= cookbook.download_date %></h2>
          <h2 class="item-title item-title--small item-title--light"><%%= cookbook.maintainer %></h2>
        </div>
        <div class="cookbook-item__content">
          <p><%%= cookbook.description %></p>
          <code class="install-instructions">cookbook '<%%= cookbook.name %>', '~> <%%= cookbook.version %>'</code>
        </div>
        <div class="cookbook-item__footer">
          <dl class="platform-list">
            <dt>Supported Platforms</dt>
            <dd><img src="http://placehold.it/18"></dd>
            <dd><img src="http://placehold.it/18"></dd>
          </dl>
          <a href="<%%= cookbook.download_url %>" class="cookbook-item__action button">Download</a>
        </div>
      </div>
    <%% }); %>
  </div>
</script>

<!-- Start the app to allow for searching, etc.. -->
<script id="cookbook-data" type="text/json"><%= cookbooks.to_json %></script>
<script>
$(function () {
  var raw = $('<div>');
  raw.text($('#cookbook-data').text());
  MinimartApp.start({ collection: JSON.parse(raw.text()) });
});
</script>
