/* Footer */

.footer {
  background: #0e1113;
  color: #95a7b4;
  text-align: center;
  line-height: 62px;
  display: block;
}

.footer__logo {
  display: inline-block;
  margin-left: 8px;
  position: relative;
  top: 2px;
}
